h1 {text-align: center;}

table header{
    text-align: center;
}

#definitions{
    margin: 0% 0% 2.5% 0%;
}

caption{
    font-weight: bolder;
}

#grammer{
    margin: 0% 0% 0% 2.5%
}

fieldset{
    width: 45%;
}

setting table{
    width: 100%;
    height: 30%;
}

setting input{
    width: 80%;
}

#renewal{
    font-weight: bolder;
    font-size: 100%;
    margin-left: 80%;
    min-width: 10%;
    width: 15%;
    height: 5%;
    background-color:rgb(55, 211, 35);
    color:rgb(255, 255, 255);
    border-color: rgb(55, 211, 35);
    border-radius: 10%;
}